<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257133984418-9ippdfj7po6rm47ctril07ts309ic6a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257133984418-9ippdfj7po6rm47ctril07ts309ic6a4</string>
	<key>API_KEY</key>
	<string>AIzaSyB1HK2xOB3YWiXsn03zVuVoG0II3fxlGbU</string>
	<key>GCM_SENDER_ID</key>
	<string>257133984418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madebykiet.AiDraw</string>
	<key>PROJECT_ID</key>
	<string>aidraw-b7395</string>
	<key>STORAGE_BUCKET</key>
	<string>aidraw-b7395.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257133984418:ios:19911c8d05c54e885c35fb</string>
</dict>
</plist>